[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
requests = ">=2.20.0"
django = "*"
django-heroku = "*"
django-summernote = "*"
djangorestframework = "*"
python-dotenv = "*"
whitenoise = "*"
psycopg2 = "*"

[requires]
python_version = "3.8.2"
